{% extends "base_generic.html" %}

{% block content %}
<script type="text/javascript">
    
  function display () {
    document.getElementById("myUl").innerHTML="";
    
    

    let time_rate = document.getElementById("rate-time").value;
    let tot = 1 * document.getElementById("investment").value;
    let interest = document.getElementById("interest").value;
    let time = document.getElementById("time").value;
    interest = interest/ 100;
    
    
    

    let li = document.createElement("li");
    let text = document.createTextNode("mes   /   saldo   /   ganancia mensual   /   ganancia acumulada");
    li.appendChild(text);
    document.getElementById("myUl").appendChild(li);
    

    let acc_gains_num = 0;
    let acc_gains_year = 0;
    let año=0;

    for (i = 0; i < time; i++) {
      if (i % time_rate == 0) {
        tot += acc_gains_num;
        acc_gains_num = 0;
      }
      
      if (i % 12 == 0) {
        let li = document.createElement("li");
        let text = document.createTextNode("ganacias " + (año+2022) + " " + (acc_gains_year));
        li.appendChild(text);
        document.getElementById("myUl").appendChild(li);
        año++;
        acc_gains_year = 0;
      }

      let monthly_gains_num = ((tot*interest)/360)*31;
      acc_gains_num += monthly_gains_num;
      acc_gains_year += monthly_gains_num;
      

      let li = document.createElement("li");
      let text = document.createTextNode((i+1) + "  -  " + tot + "  -  "+ monthly_gains_num + "  -  " + acc_gains_num);
      li.appendChild(text);
      document.getElementById("myUl").appendChild(li);
      
    }
    }
</script>

  
  <h1>Nombre del proyecto: {{ pi.proyect.title }}</h1>

  <p><strong>Compañía:</strong>{{ pi.proyect.company }}</p>
  <p><strong>Resumen del proyecto:</strong>{{ pi.proyect.summary }}</p>
  <p><strong>Día en que se publicó el proyecto:</strong>{{ pi.proyect.date_published }}</p>
  <p><strong>Tasa de interés:</strong>{{ pi.proyect.interest_rate }}</p> 
  
  <p><strong>Día en que me uní al proyecto:</strong>{{ pi.date_acquired }}</p>
  <p><strong>Día en finaliza mi participación en el proyecto:</strong>{{ pi.date_of_end_contract }}</p>

  <p><strong>Inversión:</strong>{{ pi.investment }}</p>


  <form name="Calculator">
    <table>
      <tr>
        <td>
          <label for="investment">Monto a invertir</label>
          <input type="number" name="tot" id="investment" value="{{ pi.investment }}" disabled>
        </td>
        <td>
          <label for="interest">Interés</label>
          <input type="number" name="interest" id="interest" value="{{ pi.proyect.interest_rate }}" disabled>
        </td>
        <td>
          <label for="time">Meses</label>
          <input type="number" name="time" id="time" value="0">
        </td>
        <td>
          <label for="time_rate">Tiempos para reinversión, si no hay reinversión sólo pon cero</label>
          <input type="number" name="rate_time" id="rate-time" value="{{ pi.rate_time }}" disabled>
        </td>
        <td>
          <button name="submit" type="button" onclick="display()"> Hello </button>
        </td>
        
      </tr>
    </table>
    <p id="myUl">
    </p>
  </form>

{% endblock %}